.singup-restaurent{
    margin-top: 50px;
    margin-bottom: 50px;
}

.singup-list{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    /* background: #0d6efd; */
    background: linear-gradient(90deg, rgba(39,1,69,1) 40%, rgba(80,4,245,1) 100%);
    /* background: linear-gradient(90deg, rgba(2,56,80,1) 40%, rgba(4,182,190,1) 100%); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* border: solid 1px #000000; */
}

.singup-head {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    /* color: #0d6efd; */
}

.singup-mainHead {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
}

.signupList-Head {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.inpuBox-singup{
    width: 100%;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

.inputFile-singup{
    width: 100%;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    border: none;
    outline: none;
}

.singupList-ButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.singupList-Button {
    background: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 3px 20px;
    color: #003982;
    font-weight: 700;
    font-size: 14px;

    &:hover {
        color: #fff;
        background: #003982;
    }
}

::placeholder {
    font-size: 14px;
}

.singup-last{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.singup-text{
    font-size: 14px;
    color: #fff;
}

.singup-login{
    text-decoration: none;
    border-bottom: solid 1px #fff;
    font-size: 14px;
    color: #fff;
}

.error-signup{
    color: red;
    font-size: 12px;
    display: none;
}

input:invalid[focus = 'true'] ~ span{
    display: block;
}

input:invalid[focus = 'true']{
    border: solid 1px red;
}


@media (min-width:768px) {
    .singup-head {
        font-size: 26px;
        font-weight: 700;
        /* color: #0d6efd; */
    }
}

@media (min-width:900px) {
    .singup-head {
        font-size: 28px;
        font-weight: 700;
        /* color: #0d6efd; */
    }
}

@media (min-width:1100px) {
    .singup-head {
        font-size: 30px;
        font-weight: 700;
        /* color: #0d6efd; */
    }

    .signupList-Head {
        font-size: 15px;
    }

    .singup-mainHead {
        font-size: 17px;
    }

    .singupList-Button {
        padding: 4px 25px;
        font-size: 15px;
    }

    .singup-text{
        font-size: 15px;
    }

    .singup-login{
        font-size: 15px;
    }

    /* .error-signup{
        font-size: 13px;
    } */
}

@media (min-width:1192px) {
    .signup-head {
        font-size: 32px;
        font-weight: 700;
        /* color: #0d6efd; */
    }
}

@media (min-width:1300px) {
    .singup-head {
        font-size: 34px;
        font-weight: 700;
        /* color: #0d6efd; */
    }
}

@media (min-width:1400px) {
    .singup-head {
        font-size: 36px;
        font-weight: 700;
        /* color: #0d6efd; */
    }
}

@media (max-width:768px) {

    .singup-list {
        margin-top: 25px;
    }

    /* .singupList-Button {
        width: 100%;
    } */
}

@media (max-width:576px) {

    .singup-mainHead {
        margin-top: 6px;
        margin-bottom: 13px;
        font-size: 15px;
    }

    .singup-List {
        margin-top: 20px;
    }

    .singup-head {
        font-size: 22px;
        font-weight: 700;
        /* color: #0d6efd; */
    }

    .singup-list {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .singupList-Button {
        width: 100%;
    }

}

@media (max-width:400px) {

    .singup-list {
        margin-top: 17px;
    }

    .singup-head {
        font-size: 20px;
        font-weight: 700;
        /* color: #0d6efd; */
    }

}